@{
    ViewBag.Title = "Dance";
}

<div class="container">

<div class="DanceType row lead" id="balboa">
<div class="col-xs-6 foot-container">
<div class="foot foot-1">
</div>
</div>
<div class="col-xs-6 foot-container">
<div class="foot foot-2">
</div>
</div>
<div class="col-xs-6 foot-container">
<div class="foot foot-3">
</div>
</div>
<div class="col-xs-6 foot-container">
<div class="foot foot-4">
</div>
</div>
<div class="col-xs-6 foot-container">
<div class="foot foot-5">
</div>
</div>
<div class="col-xs-6 foot-container">
<div class="foot foot-6">
</div>
</div>
</div>
</div>
