/*Animation: name durration timing-function delay iteration direction*/
@-webkit-keyframes active-step {
  from {
    background-color: #A3B8FF; }
  to {
    background-color: rgba(163, 184, 255, 0.3); } }
@keyframes active-step {
  1%, 14% {
    background-color: #A3B8FF; }
  0%, 15%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
.outter-container {
  width: 100px;
  height: 200px;
  display: block; }

@-webkit-keyframes step-1 {
  1%, 28% {
    background-color: #A3B8FF; }
  0%, 29%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-moz-keyframes step-1 {
  1%, 28% {
    background-color: #A3B8FF; }
  0%, 29%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-o-keyframes step-1 {
  1%, 28% {
    background-color: #A3B8FF; }
  0%, 29%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@keyframes step-1 {
  1%, 28% {
    background-color: #A3B8FF; }
  0%, 29%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-webkit-keyframes step-1 {
  14%, 42% {
    background-color: #A3B8FF; }
  0%, 13%, 43%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-moz-keyframes step-1 {
  14%, 42% {
    background-color: #A3B8FF; }
  0%, 13%, 43%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-o-keyframes step-1 {
  14%, 42% {
    background-color: #A3B8FF; }
  0%, 13%, 43%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@keyframes step-1 {
  14%, 42% {
    background-color: #A3B8FF; }
  0%, 13%, 43%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-webkit-keyframes step-2 {
  28%, 56% {
    background-color: #A3B8FF; }
  0%, 27%, 57%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-moz-keyframes step-2 {
  28%, 56% {
    background-color: #A3B8FF; }
  0%, 27%, 57%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-o-keyframes step-2 {
  28%, 56% {
    background-color: #A3B8FF; }
  0%, 27%, 57%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@keyframes step-2 {
  28%, 56% {
    background-color: #A3B8FF; }
  0%, 27%, 57%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-webkit-keyframes step-3 {
  42%, 70% {
    background-color: #A3B8FF; }
  0%, 41%, 71%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-moz-keyframes step-3 {
  42%, 70% {
    background-color: #A3B8FF; }
  0%, 41%, 71%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-o-keyframes step-3 {
  42%, 70% {
    background-color: #A3B8FF; }
  0%, 41%, 71%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@keyframes step-3 {
  42%, 70% {
    background-color: #A3B8FF; }
  0%, 41%, 71%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-webkit-keyframes step-4 {
  56%, 84% {
    background-color: #A3B8FF; }
  0%, 55%, 85%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-moz-keyframes step-4 {
  56%, 84% {
    background-color: #A3B8FF; }
  0%, 55%, 85%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-o-keyframes step-4 {
  56%, 84% {
    background-color: #A3B8FF; }
  0%, 55%, 85%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@keyframes step-4 {
  56%, 84% {
    background-color: #A3B8FF; }
  0%, 55%, 85%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-webkit-keyframes step-5 {
  70%, 99% {
    background-color: #A3B8FF; }
  0%, 69%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-moz-keyframes step-5 {
  70%, 99% {
    background-color: #A3B8FF; }
  0%, 69%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-o-keyframes step-5 {
  70%, 99% {
    background-color: #A3B8FF; }
  0%, 69%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@keyframes step-5 {
  70%, 99% {
    background-color: #A3B8FF; }
  0%, 69%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-webkit-keyframes step-6 {
  0%, 84%, 99% {
    background-color: #A3B8FF; }
  1%, 83%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-moz-keyframes step-6 {
  0%, 84%, 99% {
    background-color: #A3B8FF; }
  1%, 83%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@-o-keyframes step-6 {
  0%, 84%, 99% {
    background-color: #A3B8FF; }
  1%, 83%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
@keyframes step-6 {
  0%, 84%, 99% {
    background-color: #A3B8FF; }
  1%, 83%, 100% {
    background-color: rgba(163, 184, 255, 0.3); } }
.contain-float {
  overflow: hidden;
  clear: both; }

.flip, .right {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.left, .right {
  background: url("../images/leftshoe.png") center center no-repeat;
  background-size: contain;
  height: 150px;
  width: 75px;
  float: right; }

.right {
  float: left; }

.blankSpace {
  height: 150px;
  float: left; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.lead .foot {
  background-color: rgba(163, 184, 255, 0.3) !important; }
.lead .active {
  background-color: #A3B8FF !important; }

.follow .foot {
  background-color: rgba(255, 137, 221, 0.3) !important; }
.follow .active {
  background-color: #FF89DD !important; }

#balboa {
  /*.foot-container:nth-child(odd) .foot
  {
  	@extend .left;
  }
  .foot-container:nth-child(even) .foot
  {
  	@extend .right;
  }
  .foot-container:nth-child(1) .foot
  {
  	@include animation('step-3 7s linear 0s infinite forwards');
  } 
  	.foot-container:nth-child(2) .foot
  {
  	@include animation('step-2 7s linear 0s infinite forwards');
  } 
  	.foot-container:nth-child(3) .foot
  {
  	@include animation('step-1 7s linear 0s infinite forwards');
  } 
  	.foot-container:nth-child(4) .foot
  {
  	@include animation('step-1 7s linear 0s infinite forwards');
  	@include animation('step-4 7s linear 0s infinite forwards');
  } 
  	.foot-container:nth-child(5) .foot
  {
  	@include animation('step-5 7s linear 0s infinite forwards');
  } 
  	.foot-container:nth-child(6) .foot
  {
  	@include animation('step-6 7s linear 0s infinite forwards');
  } */ }

/*# sourceMappingURL=dance.css.map */
